.carousel{
  width: calc(100%-60px);
  overflow-x: scroll;
  margin: 0 30px;
}
.carousel::-webkit-scrollbar {
  display: block;
  width: 0.437rem;
  height: 0.25rem;
}
.carousel::-webkit-scrollbar-thumb{
  background: rgba($color: #000000, $alpha: .7);
  border-radius: 0.32rem;
}
.carousel::-webkit-scrollbar-track{
  background: #fff;
  border-radius: 0.32rem;
}
.carousel::-webkit-scrollbar-button {
  display: none;
}
.carousel-container{
  white-space: nowrap;
  margin: 70px 0;
  box-sizing: border-box;
}